.header-cont {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
} 
.logo {
    height: 100;
}
.nav-cont > ul {
    display: flex;
}
.nav-cont > ul > li {
    padding: 10;
    margin: 10;
    list-style-type: none;
}
.card-img {
    width: 200;
}
.card-cont {
    border: 1px solid black;
    width: 200px;
}